---
layout: page
title: Projects
date: 2014-06-11 14:37
navbar: Research
subnavbar: Projects
---

<p class="lead">
  There are a total of {{ site.projects | size }} projects in JLESC with the following stages:
</p>

<ul class="list-inline text-xs-center" id="project-statuses-stats-list">
  {% for status in site.data.project_statuses %}
    {% assign status_id = status[0] %}
    <li class="list-inline-item project-status-{{ status_id }}-bg">
      {% project_status {{ status_id }} %}: {% stats_for_status {{ status_id }} %}
    </li>
  {% endfor %}
</ul>

<div id="project-categories-accordion" role="tablist" aria-multiselectable="false">
  {% for topic_hash in site.data.topics %}
    {% assign topic_id = topic_hash[0] %}
    {% assign topic = topic_hash[1] %}
    <div class="card">
      <div class="card-header" role="tab" id="category-heading-{{ topic_id }}">
        <a class="pull-left"
           data-toggle="collapse"
           data-parent="#project-categories-accordion"
           href="#category-{{ topic_id }}"
           aria-expanded="true"
           aria-controls="category-{{ topic_id }}">
          <h4>{{ topic.title }}</h4>
        </a>
        <label class="label label-default pull-right" title="number projects for {{ topic.title }}">
          <i class="fa fa-fw fa-cubes"></i>
          {% stats_for_topic_status {{ topic_id }} all %}
        </label>
      </div>
      <div class="card-block collapse in"
           role="tabpanel"
           id="category-{{ topic_id }}"
           aria-labelledby="category-heading-{{ topic_id }}">
        <p class="card-text">{{ topic.desc }}</p>

        <div id="project-index" class="card-columns">
          {% for project in site.projects | order: 'title' %}
            {% unless project.topics contains topic_id %}
              {% continue %}
            {% endunless %}
            <div class="card text-xs-center{% if project.status == 'help_wanted' %} card-outline-primary{% endif %}">
              <div class="card-block">
                <h4 class="card-title">
                  <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
                </h4>
                <ul class="card-text list-inline members">
                {% if project.head %}
                  <li class="list-inline-item">
                    {% person {{ project.head }} %}
                  </li>
                {% endif %}
                {% for member_id in project.members %}
                  <li class="list-inline-item">
                    {% person {{ member_id }} %}
                  </li>
                {% endfor %}
                </ul>
              </div>
              <div class="card-footer project-status-{{ project.status }}-bg">
                Status: {% project_status {{ project.status }} %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% include contribute_footer.html content='project' %}
