{% assign current_base_arr = page.url | replace:'/events/' | split:'/' %}
{% assign current_base = current_base_arr | first %}
{% assign current_base_size = current_base | size %}

{% capture event_index_url %}
  {% if current_base_size == 0 %}{{ page.url }}{% else %}/events/{{ current_base }}{% endif %}
{% endcapture %}


<nav class="event-subpage card" role="navigation">
  <ul class="nav list-group">
    <li class="nav-item list-group-item">
      <a class="nav-link"
         href="{{ event_index_url }}">Index for Event</a>
    </li>
    {% sorted_for subpage in site.events_past %}
      {% unless subpage.page_type == 'event_page' %}
        {% assign subpage_url_arr = subpage.url | split:'/' %}
        {% if subpage_url_arr contains current_base %}
          <li class="nav-item list-group-item">
            <a class="nav-link"
               href="{{ subpage.url }}">
              {{ subpage.subtitle }}
            </a>
          </li>
        {% endif %}
      {% endunless %}
    {% endsorted_for %}
  </ul>
</nav>