<section class="group-meta card">
  <div class="card-header">
    Project Profile
  </div>
  {% if page.logo %}
    <img class="img-fluid p-a-1" src="{{ site.baseurl }}/images/{{ page.logo }}" alt="{{ page.title }} Logo" />
  {% endif %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item row">
      <label class="col-sm-4">Topics</label>
      <div class="col-sm-8">
        {% for topic_id in page.topics %}
          <span class="clearfix">
            {% topic {{ topic_id }} %}
          </span>
        {% endfor %}
      </div>
    </li>
    {% if page.keywords %}
      <li class="list-group-item row">
        <label class="col-sm-4">Keywords</label>
        <div class="col-sm-8">
          {% for kw in page.keywords %}
            <span class="clearfix">{{ kw }}</span>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% if page.project_url %}
      <li class="list-group-item row">
        <label class="col-sm-4">Homepage</label>
        <div class="col-sm-8">
          <a href="{{ page.project_url }}">{{ page.project_url | trim_url }}</a>
        </div>
      </li>
    {% endif %}
    {% if page.members %}
      <li class="list-group-item row">
        <label class="col-sm-4">Members</label>
        <div class="col-sm-8">
          {% if page.head %}
            <span class="clearfix">
              {% person {{ page.head }} %}
              <span class="pull-right">
                <a title="Project Head" data-toggle="tooltip"><i class="fa fa-graduation-cap fa-fw"></i></a>
              </span>
            </span>
          {% endif %}
          {% for member_id in page.members %}
            <span class="clearfix">
              {% person {{ member_id }} %}
            </span>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% if page.status %}
    <li class="list-group-item row">
      <label class="col-sm-4">Status</label>
      <div class="col-sm-8">
        {% project_status {{ page.status }} %}
      </div>
    </li>
    {% endif %}
  </ul>
</section>