{% assign current_base_arr = page.url | replace:'/software/','' | split:'/' %}
{% assign current_base = current_base_arr | first %}
{% assign current_base_size = current_base | size %}

{% capture software_index_url %}{% if current_base_size == 0 %}{{ page.url | strip }}{% else %}/software/{{ current_base | strip }}{% endif %}/{% endcapture %}

<nav id="subnav" class="clearfix" role="navigation">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link{% if software_index_url == page.url %} active{% endif %}"
         href="{{ software_index_url }}">Software's Main Page</a>
    </li>
    {% sorted_for subpage in site.software %}
      {% unless subpage.page_type == 'software_page' %}
        {% assign subpage_url_arr = subpage.url | split:'/' %}
        {% if subpage_url_arr contains current_base %}
          <li class="nav-item">
            <a class="nav-link{% if subpage.url == page.url %} active{% endif %}"
               href="{{ subpage.url }}">{{ subpage.subtitle }}</a>
          </li>
        {% endif %}
      {% endunless %}
    {% endsorted_for %}
    <li id="show-meta-aside-wrapper">
      <a class="invisible" id="show-meta-aside" role="button" title="Show Profile" data-toggle="tooltip">
        <i class="fa fa-fw fa-info"></i>
      </a>
    </li>
  </ul>
</nav>
