<section class="group-meta card">
  <div class="card-header">
    Software Profile
    <span class="pull-right">
      <a id="hide-meta-aside" role="button" title="Hide Profile" data-toggle="tooltip">
        <i class="fa fa-fw fa-minus"></i>
      </a>
    </span>
  </div>
  {% if page.logo %}
    {% image {{ page.logo }} class:"img-fluid p-a-1" alt:"{{ page.title }} Logo" %}
  {% endif %}
  <ul class="list-group list-group-flush">
    {% if page.code_url %}
      <li class="list-group-item row">
        <label class="col-sm-4">Homepage</label>
        <div class="col-sm-8">
          {% assign print_url = page.code_url %}
          {% assign on_github = false %}
          {% if page.code_url contains 'github' %}
            {% capture print_url %}{{ page.code_url | remove: 'github.com' }}{% endcapture %}
            {% assign on_github = true %}
          {% endif %}
          <a href="{{ page.code_url }}">
            {% if on_github %}
              <i class="fa fa-github fa-fw"></i>{{ print_url | trim_url }}
            {% else %}
              {{ print_url | trim_url }}
            {% endif %}
          </a>
        </div>
      </li>
    {% endif %}
    {% if page.language %}
      <li class="list-group-item row">
        <label class="col-sm-4">Language</label>
        <div class="col-sm-8">
          {{ page.language }}
        </div>
      </li>
    {% endif %}
    {% if page.license %}
      <li class="list-group-item row">
        <label class="col-sm-4">License</label>
        <div class="col-sm-8">
          {{ page.license }}
        </div>
      </li>
    {% endif %}
    {% if page.releases %}
      <li class="list-group-item row">
        <label class="col-sm-4">Releases</label>
        <div class="col-sm-8">
          {% if page.releases | size > 3 %}
            <span class="text-muted small clearfix">recent 3 of {{ page.releases | size }}</span>
          {% endif %}
          {% for release in page.releases | limit:3 %}
            <span class="clearfix">
              {{ release.version }}
              {% if release.date %}
                <small>&ensp;(<time datetime="{{ release.date }}">{{ release.date }}</time>)</small>
              {% endif %}
              <span class="pull-right">
                {% if release.link %}
                  <a href="{{ release.link }}" title="Release Page" data-toggle="tooltip"><i class="fa fa-link fa-fw"></i></a>
                {% endif %}
                {% if release.download %}
                  <a href="{{ release.download }}" title="Download Sources as zip" data-toggle="tooltip"><i class="fa fa-download fa-fw"></i></a>
                {% endif %}
              </span>
            </span>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% if page.institutes %}
      <li class="list-group-item row">
        <label class="col-sm-4">Institutes</label>
        <div class="col-sm-8">
          {% for institute_id in page.institutes %}
            <span class="clearfix">{% institute {{ institute_id }} %}</span>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% if page.developers %}
      <li class="list-group-item row">
        <label class="col-sm-4">Developers</label>
        <div class="col-sm-8">
          {% for developer in page.developers %}
            <span class="clearfix">
              {% person {{ developer.id }} %}
              {% if developer.email or developer.lead_developer %}
                <span class="pull-right">
                  {% if developer.lead_developer %}
                    <a title="Lead Developer" data-toggle="tooltip"><i class="fa fa-graduation-cap fa-fw"></i></a>
                  {% endif %}
                </span>
              {% endif %}
            </span>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% if page.contributors %}
      <li class="list-group-item row">
        <label class="col-sm-4">Contributors</label>
        <div class="col-sm-8">
          {% for contributor in page.contributors %}
            <span class="clearfix">
              {{ contributor.name }}
              {% if contributor.email or contributor.lead_developer %}
                <span class="pull-right">
                  {% if contributor.lead_developer %}
                    <a title="Lead Developer" data-toggle="tooltip"><i class="fa fa-graduation-cap fa-fw"></i></a>
                  {% endif %}
                </span>
              {% endif %}
            </span>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% if page.topics %}
    <li class="list-group-item row">
      <label class="col-sm-4">Topics</label>
      <div class="col-sm-8">
        {% for topic_id in page.topics %}
          <span class="clearfix">{% topic {{ topic_id }} %}</span>
        {% endfor %}
      </div>
    </li>
    {% endif %}
  </ul>
</section>

{% if page.github_repo %}
<section class="github-widget" data-repo="{{ page.github_repo }}"></section>
{% endif %}
