---
layout: page
title: News Archive
navbar: News
---

{% for post in site.posts reverse %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% unless year == this_year %}
    {% unless for.first %}
        </ul>
      </div>
    {% endunless %}
    <div class="card">
      {% assign year = this_year %}
      <h3 class="card-header">{{ year }}</h3>
      <ul class="list-group list-group-flush">
  {% endunless %}
        {% include archive_post.html %}
  {% if for.last %}
      </ul>
    </div>
  {% endif %}
{% endfor %}
