---
layout: default
body_classes: page-blog
title: News
description: "See the latest JLESC News"
header_transparent: false

hero:
  enabled: false
---

{% if page.hero.enabled %}
  {% include framework/blocks/sections/hero.html
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    text_color=page.hero.text_color
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/blocks/sections/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
    %}
    </div>
  </div>
{% endif %}

{% assign post_pages = site.posts  %}

<div class="section strip-base">
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="row">
          {% for post in paginator.posts %}
            <div class="col-12 mb-3 mb-md-9">
              {% include theme/cards/card-posts.html
                style="row"
                date=post.date
                title=post.title
                description=post.description
                thumbnail=post.thumbnail
                url=post.url
                categories=post.categories
                show_read_more=false
              %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="sidebar">
          <h5>Categories</h5>
          <ul>
            {% for category in site.categories %}
              {% capture category_name %}
                {{ category | first }}
              {% endcapture %}
              <li>
                <a href="/category/{{ category_name | slugify }}">{{ category_name | camelcase }}</a>
                <span>
                  ({{ category[1].size }})</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto">
        {% include framework/blocks/components/paginator.html %}
      </div>
    </div>

  </div>
</div>
