---
layout: page
title: News
navbar: News
---

<div id="news-index">
  {% for post in paginator.posts %}
    {% include article_index.html %}
  {% endfor %}
</div>

{% include contribute_footer.html
  content='news'
  link='https://github.com/JLESC/jlesc.github.io/wiki/Editing-Pages#editing-news'
%}

<nav class="row">
  <div class="col-xs-3 col-md-4">
    <a href="{% if paginator.next_page %}{{ paginator.next_page_path }}{% else %}#{% endif %}"
       class="btn btn-sm btn-secondary{% unless paginator.next_page %}-outline{% endunless %} pull-xs-left{% unless paginator.next_page %} disabled{% endunless %}"
       role="button">
      <i class="fa fa-long-arrow-left fa-fw"></i>
      <span class="hidden-sm-down"> Older</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-4 text-xs-center">
    <a href="{{ site.baseurl }}/news/archive/" class="btn btn-sm btn-secondary" role="button">
      <span class="hidden-sm-down">News </span>Archive
    </a>
  </div>
  <div class="col-xs-3 col-md-4">
    <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path }}{% else %}#{% endif %}"
       class="btn btn-sm btn-secondary{% unless paginator.previous_page %}-outline{% endunless %} pull-xs-right{% unless paginator.previous_page %} disabled{% endunless %}"
       role="button">
      <span class="hidden-sm-down">Newer </span><i class="fa fa-long-arrow-right fa-fw"></i>
    </a>
  </div>
</nav>
