
<section class="card">
  <div class="card-block">
    <h3 class="card-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if site.titlecase %}
        {{ post.title | titlecase }}
        {% else %}
        {{ post.title }}
        {% endif %}
      </a>
    </h3>
    <p class="card-text">
      {{ post.excerpt | post.content | strip_html }}
    </p>
  </div>
  <footer class="card-footer">
    <ul class="list-inline small">
      {% unless page.meta == false %}
        {% assign on_index = true %}
        {% include post/author.html %}
        {% include post/date.html %}
      {% endunless %}
    </ul>
  </footer>
</section>
