{% assign heading = include.heading %}
{% assign sub_heading = include.sub_heading %}
{% assign image = include.image %}
{% assign align = include.align | default: 'left' %}
{% assign features = include.features %}
{% assign buttons = include.buttons %}
{% assign img_class = include.img_class | default: '' %}
{% assign text_centered_vertically = include.text_centered_vertically | default: 'false' %}


<div class="info">
  <div class="row {% if align == 'center' %}justify-content-center text-center info-{% endif %}">
    <div class="col-12 {% if align == 'center' and image %}mb-4{% endif %}{% if align == 'center' %}col-md-8{% else %}col-md-6{% endif %} {% if align == 'left' %}order-1{% elsif align == 'right' %}order-2{% elsif align == 'center' %}{% endif %}">
      <div class="info-content" style="{% if text_centered_vertically == 'true' %} display: flex; flex-direction: column; justify-content: center; height: 100%; {% endif %}"
      >
        {% if heading %}
          <h2>{{ heading }}</h2>
        {% endif %}
        {% if sub_heading %}
          <p class="mt-1 large {% if align == 'center' %}mx-auto{% endif %}">{{ sub_heading }}</p>
        {% endif %}
        {% if features.enabled and features.list.size > 0 %}
          <ul>
            {% for feature in features.list %}
              <li>
                <i class="{% if feature.fa_icon %}{{ feature.fa_icon }} mr-1{% endif %}"></i>
                {{ feature.text }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if buttons.enabled and buttons.list.size > 0 %}
          <div class="info-buttons mt-2">
            {% for button in buttons.list %}
              {% include framework/blocks/components/button.html
                text=button.text
                url=button.url
                external=button.external
                size=button.size
                outline=button.outline
                style=button.style
                fa_icon=button.fa_icon
              %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-12 {% if image and align == 'center' %}col-md-10 mt-3{% else %}col-md-6{% endif %} {% if align == 'left' %}order-2 mt-3 mt-md-0{% elsif align == 'right' %}order-1{% elsif align == 'center' %}{% endif %}">
      {% if image and image != '' %}
        <img width="{% if align == 'center' %}1280{% else %}640{% endif %}" height="{% if align == 'center' %}720{% else %}360{% endif %}" alt="{{ heading }}" class="img-fluid shadow rounded {{ img_class }}" src="{{ image | relative_url }}"/>
      {% endif %}
    </div>

  </div>
</div>
