aside {
  .card-header {
    #hide-meta-aside {
      @extend .btn-outline-primary;
      border: 0 !important;

      i {
        vertical-align: middle;
      }
    }
  }

  ul li.list-group-item.row {
    @extend .m-x-0;
    @extend .p-x-0;
    padding-top: ($spacer-y / 5);
    padding-bottom: ($spacer-y / 5);
    border-bottom-width: 0;

    label {
      @extend .m-b-0;
      font-weight: bold;
    }
  }
}

#subnav #show-meta-aside-wrapper {
  @extend .nav-item;
  @extend .nav-link;
  @include pull-right();
  @extend .text-xs-right;
  border: 0 !important;

  &:focus,
  &:hover,
  a {
    border: 0 !important;
  }

  a {
    @extend .btn-outline-primary;
    @extend .p-y-0;

    i {
      vertical-align: middle;
    }
  }
}
