.tag-event-workshop {
  @include tag-variant($tag-primary-bg);
}
.tag-event-summer_school {
  @include tag-variant($tag-default-bg);
}
.tag-event-outreach {
  @include tag-variant($tag-info-bg);
}


footer.event-meta {
  @extend small;

  div:last-child {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


#schedule-accordion {
  a.abstract-btn {
    @extend .tag;
    @extend .tag-default;
  }

  .card {
    .card-header {
      h4 {
        @extend .m-b-0;
      }
    }

    .card-block {
      @extend .p-a-0;

      .card-text {
        @extend .p-a-2;
        @extend .m-b-0;
      }

      table {
        @extend .m-b-0;

        tr {
          td {
            &:first-child {
              @extend .col-sm-1;
            }
            &:nth-child(2) {
              @extend .col-sm-3;
            }
            &:last-child {
              @extend .col-sm-8;

              .abstract {
                @extend .text-muted;
                @extend small;
              }
            }
          }
        }
      }

      dl {
        dd {
          .abstract {
            @extend .text-muted;
            @extend small;
          }
        }
      }
    }

    dl {
      dt {
        @extend .col-sm-1;
      }
      dd {
        @extend .col-sm-11;
      }
    }
  }
}
