@import 'theme';

html {
  body {
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;
  }
}

table {
  tr.table-separator {
    @extend .table-active;
    height: 0.25rem;

    td {
      padding: 0;
    }
  }
}

noscript {
  .card {
    margin-bottom: 0;
  }
  .card-block {
    padding: 0;
  }
}

main > .container {
  @extend .p-y-2;
}

footer#site-footer {
  @extend .text-muted;

  .navbar-nav {
    .nav-link + .nav-link {
      margin: 0 !important;
    }
  }

  a.nav-link {
    display: inline;
    @extend .text-muted;
  }

  a.nav-link:hover {
    color: $link-hover-color !important;
  }
}

img {
  &.logo {
    @extend .p-y-1;
    @include center-block();
    @include img-fluid();
    max-height: 7.5rem;
  }

  &.partners-logo {
    max-width: 15rem;
    max-height: 15rem;
  }
}

#subnav {
  @extend .m-y-1;
}

.post {
  footer {
    .card-block {
      padding: .25rem;
    }
  }
}

#statistics {
  .spacer {
    display: block;
    height: ($spacer-y * 2);
  }
}

footer#contribute {
  margin-top: ($spacer-y * 2);

  &.card-contribute {
    @include card-variant(lighten($brand-primary, 35%), lighten($brand-primary, 35%));
  }
}
