.jumbotron {
  @extend .m-b-0;
  @extend .p-a-0;
}

ul#next-events-index {
  li {
    padding: 0.75rem 0.25rem !important;

    .row.small {
      div {
        white-space: nowrap;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
