.email-obfuscated {
  unicode-bidi:bidi-override;
  direction: rtl;
}

.person.given-name {}

.person.sur-name {
  font-weight: bold;
}

.person-affiliation {}

.card ul li .tag {
  @extend .m-b-0;
}

#people-db_length,
#people-db_filter {
  @extend .form-group;

  label {
    @extend .form-control-label;

    select,
    input {
      @extend .form-control;
      @extend .form-control-sm;
    }
  }
}
#people-db_filter {
  @extend .pull-xs-right;
}

#people-db {
  .col-name {
    min-width: 10rem;
    max-width: 15rem;
  }
  .col-affiliation {

  }
  .col-position {
    max-width: 10rem;
  }
  .col-topics {
    max-width: 25rem;
  }

  .btn-group {
    a {
      @extend .p-y-0;
      padding-left: ($spacer-x / 5);
      padding-right: ($spacer-x / 5);
    }
  }
}
