#project-states-stats-list {
  li {
    @extend .p-x-1;
  }
  li + li {
    margin-left: 2rem;
  }
}

#project-categories-accordion {
  a h4 {
    @extend .m-b-0;
  }
}

.project-status-help_wanted-bg {
  background-color: lighten($brand-primary, 15%);
  .project-status-help_wanted {
    color: inherit
  }
}
.project-status-help_wanted {
  color: $brand-primary;
}

.project-status-preparation-bg {
  background-color: lighten($brand-info, 15%);
  .project-status-preparation {
    color: inherit;
  }
}
.project-status-preparation {
  color: $brand-info;
}

.project-status-starting-bg {
  background-color: lighten($brand-info, 15%);
  .project-status-starting {
    color: inherit;
  }
}
.project-status-starting {
  color: $brand-info;
}

.project-status-running-bg {
  background-color: lighten($brand-success, 25%);
  .project-status-running {
    color: inherit;
  }
}
.project-status-running {
  color: $brand-success;
}

.project-status-suspended-bg {
  background-color: lighten($gray, 25%);
  .project-status-suspended {
    color: inherit;
  }
}
.project-status-suspended {
  color: $gray;
}

.project-status-closing-bg {
  background-color: lighten($brand-warning, 15%);
  .project-status-closing {
    color: inherit;
  }
}
.project-status-closing {
  color: $brand-warning;
}

.project-finished-bg {
  .project-status-finished {
    color: inherit;
  }
}
.project-status-finished {
}

#project-index {
  .card-block {
    @extend .p-a-1;
  }
  .card-footer, .card-header {
    padding: 0.25rem 1rem;
  }
}

table.person-months-table {
  tr {
    td:last-of-type {
      @extend .text-xs-right;
    }
  }
}
