@import 'theme';

.bibliography {
  @extend .m-b-1;

  .bibtex-entry-container {
    .bibtex-ref-entry {
      span {
        word-wrap: break-word;
      }
    }

    .bibtex-ref-raw,
    .bibtex-ref-abstract {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: $text-muted !important;

      pre {
        @extend .m-a-0;
        color: inherit;

        code {
          color: inherit;
        }
      }
    }
  }
}

.ref-label {
  width: 100%;
  display: block !important;
  font-size: 85% !important;
  text-overflow: clip;
  overflow: hidden;
}
