@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  local('Roboto-Regular'),
  url(font_path('Roboto-Regular.woff2')) format('woff2'),
  url(font_path('Roboto-Regular.ttf')) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'),
  local('RobotoMono-Regular'),
  url(font_path('RobotoMono-Regular.woff2')) format('woff2'),
  url(font_path('RobotoMono-Regular.ttf')) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'),
  local('RobotoSlab-Regular'),
  url(font_path('RobotoSlab-Regular.woff2')) format('woff2'),
  url(font_path('RobotoSlab-Regular.ttf')) format('truetype');
}
