#toc {
  ul {
    @extend .list-group;
    @extend .list-group-flush;

    li {
      @extend .list-group-item;
      padding-top: ($spacer-y / 2);
      padding-bottom: ($spacer-y / 2);

      &:first-child {
        border-top: 0;
      }

      &.toc-entry {
        &.toc-h1 {}

        &.toc-h2 {}

        &.toc-h3,
        &.toc-h4,
        &.toc-h5,
        &.toc-h6 {
          display: none;
        }
      }
    }
  }
}