{% assign title = include.title %}
{% assign description = include.description %}
{% assign thumbnail = include.thumbnail %}
{% assign icon = include.icon %}
{% assign fa_icon = include.fa_icon %}
{% assign url = include.url %}
{% assign date = include.date %}
{% assign authors = include.authors %}
{% assign categories = include.categories %}
{% assign style = include.style | default: "column" %}
{% assign show_read_more = include.show_read_more %}
{% assign client = include.client %}
{% assign thumbnail_size = include.thumbnail_size %}

<div class="card card-project card-{{ style }} {% if thumbnail %}card-has-thumbnail{% endif %} {% if icon or fa_icon %}card-has-icon{% endif %}">

  {% if thumbnail %}
    <div class="card-thumbnail {% if thumbnail_size %}card-thumbnail-{{ thumbnail_size }}{% endif %}">
      {% if url %}
      <a href="{{ url | relative_url }}">
        <img alt="{{ title }}" width="640" height="360" src="{{ thumbnail | relative_url }}"/>
      </a>
    {% else %} 
      <img alt="{{ title }}" width="640" height="360" src="{{ thumbnail | relative_url }}"/>
    {% endif %}
    </div>
  {% endif %}


  <div class="card-content">
    <div class="card-title">
      {% if url %}
        <h3><a href="{{ url | relative_url }}">{{ title }}</a></h3>
      {% else %} 
        <h3>{{ title }}</h3>
      {% endif %}
    </div>
    {% if client %}
      <div class="card-client">
        {{ client }}
      </div>
    {% endif %}
    {% if description %}
      <div class="card-description">
        <p>{{ description }}</p>
      </div>
    {% endif %}
  </div>
</div>