
<div class="menu-main-mobile {% if site.menu.show_dropdown_items_in_mobile_menu %}nested{% endif %}" id="menu-main-mobile">

  <div class="menu-main-mobile-top">
    <div id="close-overlay" class="menu-main-close">
      <div class="hamburger"></div>
    </div>
  </div>

  <div class="menu-main-mobile-center">
    {% if site.menu.show_dropdown_items_in_mobile_menu %}
      <ul class="menu">
        {% for item in site.data.menu.main %}
          {% if item.child %}
            <li class="menu-item-{{ item.name | downcase }}{% if item.url == page.url %} active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
              <div class="dropdown">
                <ul class="sub-menu">
                  {% for childitem in item.child  %}
                    <li class="{% if childitem.url == page.url %} active {% endif %}">
                      <a href="{{ childitem.url | relative_url }}">{{ childitem.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% else %}
            {% if item.url == page.url  %}
              {% assign active = true %}
            {% else %}
              {% assign active = nil %}
            {% endif %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <ul class="menu">
        {% for item in site.data.menu.main %}
          <li class="menu-item-{{ item.name | downcase }}{% if item.url == page.url %} active {% endif %}">
            <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

