{% unless event %}
  {% assign event = page %}
{% endunless %}

{% if event.event_start == event.event_end %}
  <div class="col-xs-12 col-sm-6" title="Event's date" data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-play"></i> / <i class="fa fa-stop"></i>
    {% if event.event_start %}
      <time datetime="{{ event.event_start | datetime | date_to_xmlschema }}">{{ event.event_start | date_to_string }}</time>
    {% else %}
      tba
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-6" title="Event's location" data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-map-marker fa-fw"></i>
    {% if event.event_location %}
      {{ event.event_location }}
    {% else %}
      tba
    {% endif %}
  </div>
{% else %}
  <div class="col-xs-6 {% if on_global_index %}col-sm-4{% else %}col-lg-4{% endif %}"
       title="Event's start date" data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-play fa-fw"></i>
    {% if event.event_start %}
      <time datetime="{{ event.event_start | datetime | date_to_xmlschema }}">{{ event.event_start | date_to_string }}</time>
    {% else %}
      tba
    {% endif %}
  </div>
  <div class="col-xs-6 {% if on_global_index %}col-sm-4{% else %}col-lg-4{% endif %}" title="Event's end date" data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-stop fa-fw"></i>
    {% if event.event_end %}
      <time datetime="{{ event.event_end | datetime | date_to_xmlschema }}">{{ event.event_end | date_to_string }}</time>
    {% else %}
      tba
    {% endif %}
  </div>
  <div class="col-xs-12 {% if on_global_index %}col-sm-4{% else %}col-lg-4{% endif %}">
    {% if event.event_location %}
      <a href="https://google.com/maps/search/{{ event.event_location | replace:' ','+' }}" target="_blank"
         title="Event's location: {{ event.event_location }}. Find on Google Maps!"
         data-toggle="tooltip" data-placement="bottom">
    {% endif %}
    <i class="fa fa-map-marker fa-fw"></i>
    {% if event.event_location %}
      {{ event.event_location }}
    {% else %}
      tba
    {% endif %}
    {% if event.event_location %}</a>{% endif %}
  </div>
{% endif %}
