{% if page.date %}
  {% assign date = page.date | datetime %}
  {% assign has_date = true %}
{% else %}
  {% if post.date %}
    {% assign date = post.date | datetime %}
    {% assign has_date = true %}
  {% else %}
    {% assign has_date = false %}
  {% endif %}
{% endif %}

{% if page.updated %}
  {% assign updated = page.updated | datetime %}
  {% assign was_updated = true %}
{% else %}
  {% if post.updated %}
    {% assign updated = post.updated | datetime %}
    {% assign was_updated = true %}
  {% else %}
    {% assign was_updated = false %}
  {% endif %}
{% endif %}

{% if has_date %}
  {% if on_index %}
    <li class="list-inline-item">
  {% else %}
    <div class="card card-block">
  {% endif %}
      <i class="fa fa-folder-o"></i> <span class="hidden-sm-down">Created on </span><time datetime="{{ date | datetime | date_to_xmlschema }}">{{ date | datetime | date_to_string }}</time>
  {% if on_index %}
    </li>
  {% else %}
    </div>
  {% endif %}
{% endif %}

{% if was_updated %}
  {% if on_index %}
    <li class="list-inline-item">
  {% else %}
    <div class="card card-block">
  {% endif %}
      <i class="fa fa-pencil"></i> <span class="hidden-sm-down">Updated on </span><time datetime="{{ updated | datetime | date_to_xmlschema }}" data-updated="true">{{ updated | datetime | date_to_string }}</time>
  {% if on_index %}
    </li>
  {% else %}
    </div>
  {% endif %}
{% else %}
  {% assign updated = false %}
{% endif %}
