<li class="nav-item dropdown{% if page.navbar == 'About' %} active{% endif %}">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
  <div class="dropdown-menu">
    <a href="{{ site.baseurl }}/about/" class="dropdown-item{% if page.navbar == 'About' and page.subnavbar == 'Overview' %} active{% endif %}">JLESC</a>
    <a href="{{ site.baseurl }}/about/partners/" class="dropdown-item{% if page.navbar == 'About' and page.subnavbar == 'Partners' %} active{% endif %}">Partners</a>
    <a href="{{ site.baseurl }}/about/people/" class="dropdown-item{% if page.navbar == 'About' and page.subnavbar == 'People' %} active{% endif %}">People</a>
    <a href="{{ site.baseurl }}/about/grants/" class="dropdown-item{% if page.navbar == 'About' and page.subnavbar == 'Grants' %} active{% endif %}">Grants</a>
  </div>
</li>
