<li class="nav-item dropdown{% if page.navbar == 'News' %} active{% endif %}">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">News</a>
  <div class="dropdown-menu">
    <a href="{{ site.baseurl }}/news/index.html" class="dropdown-item{% if page.navbar == 'News' and page.subnavbar == 'Overview' %} active{% endif %}">Overview</a>
    <a href="{{ site.baseurl }}/news/archive.html" class="dropdown-item{% if page.navbar == 'News' and page.subnavbar == 'Archive' %} active{% endif %}">Archive</a>
  </div>
</li>
