<li class="nav-item dropdown{% if page.navbar == 'Groups' or page.navbar == 'Projects' or page.navbar == 'Research' %} active{% endif %}">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Research</a>
  <div class="dropdown-menu">
    <a href="{{ site.baseurl }}/research/collaboration/" class="dropdown-item{% if page.navbar == 'Research' and page.subnavbar == 'Collaboration' %} active{% endif %}">On Collaboration</a>
    <a href="{{ site.baseurl }}/projects/" class="dropdown-item{% if page.navbar == 'Research' and page.subnavbar == 'Projects' %} active{% endif %}">Projects</a>
    <a href="{{ site.baseurl }}/software/" class="dropdown-item{% if page.navbar == 'Research' and page.subnavbar == 'Software' %} active{% endif %}">Software</a>
    <a href="{{ site.baseurl }}/research/visits/" class="dropdown-item{% if page.navbar == 'Research' and page.subnavbar == 'Visits' %} active{% endif %}">Visits</a>
  </div>
</li>
