<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          {% img '{{ site.logo }}' class:'img-fluid center-block' alt:'Joint Laboratory on Extreme Scale Computing' %}
        </div>
      </div>

      <div class="container">
        {{ content | expand_urls: root_url }}
      </div>
    </main>
    {% include footer.html %}
    {% include after_footer.html %}
  </body>
</html>
