---
layout: default
---
<div class="post post-project">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}
  </header>
  <article class="post-content">
    <div class="row">
      <aside class="col-lg-5 col-lg-push-7">
        {% include asides/project_meta.html %}
      </aside>
      <div class="col-lg-7 col-lg-pull-5 content">
        {{ content }}
      </div>
    </div>
  </article>
  {% if page.footer %}
    <footer class="card-deck-wrapper text-muted small">
      <div class="card-deck">
        {% include post/date.html %}
      </div>
    </footer>
  {% endif %}
</div>