---
layout: default
body_classes: page-post page-post-1
---

<div class="section">
  <div class="container post-header">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          {% if page.categories %}
          <div class="post-categories">
          {% include framework/blocks/components/categories-badges.html 
              categories=page.categories
          %}
          {% endif %}
          </div>
          <div class="post-title">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.description %}
            <div class="post-description">
              <p>{{ page.description }}</p>
            </div>
          {% endif %}

          {% if page.authors %}
            <div class="post-authors">
              {% for author in page.authors %}
              {% assign author_id = author | replace: " ", "_" | downcase %}
              {% assign author_object = site.data.authors[author_id] %}
              {% include framework/blocks/components/author.html 
                name=author_object.name
                job=author_object.job
                image=author_object.image
              %}
              {% endfor %}
            </div>
          {% endif %}

          <ul class="event-meta mb-2">
              {% if page.event_url | size > 0 %}
              <li><a href="{{ page.event_url }}" target="_blank">Homepage</a></li>
              {% endif %}
              {% if page.project_url | size > 0 %}
              <li><a href="{{ page.project_url }}" target="_blank">Homepage</a></li>
              {% endif %}
              {% if page.head | size > 0 %}
              <li><b>Head</b></li>
              {% assign head = site.data.people[page.head] %}
              {% assign institute = site.data.institutes[head.affiliation] %}
              <li>{{ head.sur_name }} {{ head.given_name }} ({{ institute.abbr }})</li>
              {% endif %}
              {% if page.members | size > 0 %}
              <li><b>Members</b></li>
              {% for member in page.members %}
              {% assign memberData = site.data.people[member] %}
              {% assign memberInstitute = site.data.institutes[memberData.affiliation] %}
              <li>
                  {{ memberData.sur_name }} {{ memberData.given_name }} ({{ memberInstitute.abbr }})
              </li>
              {% endfor %}
              {% endif %}
              {% if page.institute | size > 0 %}
              <li>{{ site.data.institutes[page.institute].title }}</li>
              {% endif %}
              {% if page.event_location | size > 0 %}
              <li>Location: {{ page.event_location }}</li>
              {% endif %}
              {% if page.event_start | size > 0 %}
              <li>Start: {{ page.event_start | date_to_string }}</li>
              {% endif %}
              {% if page.event_end | size > 0 %}
              <li>End: {{ page.event_end | date_to_string }}</li>
              {% endif %}
          </ul>
      </div>
    </div>
          
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {% if page.image %}
          <div class="post-image">
            <img src="{{ page.image }}" alt="{{ page.title }}" />
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
        {% if site.disqus.shortname %}
        {% if page.comments != false %}
          <div class="comments mt-3">
            {% include framework/global/integrations/disqus.html %}
          </div>
        {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
</div>
