---
layout: default
body_classes: page-projects
---

{% if page.hero.enabled %}
  {% include framework/blocks/sections/hero.html 
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    text_color=page.hero.text_color
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/blocks/sections/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
    %}
    </div>
  </div>
{% endif %}

<div class="section strip-border-top">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-8">
        {% if site.enable_breadcrumbs_projects %}
          {% include framework/blocks/components/breadcrumbs.html %}
        {% endif %}
        <div class="content">{{ content }}</div>
      </div>

      {% if site.enable_sidebar_projects %}
        <div class="col-12 col-lg-3 offset-lg-1">
          {% include framework/blocks/components/sidebar.html collection="projects" %}
        </div>
      {% endif %}

    </div>
  </div>
</div>