---
---
<div class="bibtex-entry-container">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-md-3 col-sm-12 bibtex-ref-meta hidden">
      <div class="row">
        <div class="col-md-12 ref-label tag tag-default">
          {{ key }}
        </div>
      </div>
      <div class="row">
        <button class="btn btn-sm btn-secondary col-xs-6" data-toggle="collapse" data-target="#collapse{{ key }}Bibtex"
                aria-expanded="false" aria-controls="collapse{{ key }}Bibtex">
          BibTeX
        </button>
        <button class="btn btn-sm btn-secondary{% unless entry.abstract %}-outline{% endunless %} col-xs-6"
                {% unless entry.abstract %} disabled="disabled"{% endunless %} data-toggle="collapse" data-target="#collapse{{ key }}Abstract"
                aria-expanded="false" aria-controls="collapse{{ key }}Abstract">
          Abstract
        </button>
      </div>
    </div>

    <div class="bibtex-ref-entry col-md-9 col-sm-12">
      {{ reference | trim_ieee_citation }}
    </div>
  </div>
  <div class="collapse" id="collapse{{ key }}Bibtex">
    <div class="row bibtex-ref-raw">
      <div class="col-sm-10 offset-sm-1">
        <pre><code>{{ entry.bibtex }}</code></pre>
      </div>
    </div>
  </div>
  {% if entry.abstract %}
  <div class="collapse" id="collapse{{ key }}Abstract">
    <div class="row bibtex-ref-abstract">
      <div class="col-sm-10 offset-sm-1">
        {{ entry.abstract }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
