---
layout: page
title: Events
date: 2014-06-11 14:38
navbar: Events
---

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>Upcoming</h2>
    <ul class="list-group">
      {% assign sorted_pages = site.events_upcoming | sort:'event_start' %}
      {% for event in sorted_pages %}
        {% if event.page_type == 'event_page' %}
          {% include event/overview_item.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
    <h2>Past</h2>
    <ul class="list-group">
      {% assign sorted_pages = site.events_past | sort:'event_start' %}
      {% for event in sorted_pages %}
        {% if event.page_type == 'event_page' %}
          {% include event/overview_item.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% include contribute_footer.html
  content='event'
  link='https://github.com/JLESC/jlesc.github.io/wiki/Editing-Pages#editing-events'
%}
